{% extends "site_base.html" %}

{% block content %}
<h1>Search Opensubtitles.org</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'pairsubs:opensubtitles_search' %}" method="post" name="search_subs" class="form">
  {% csrf_token %}

  {% for field in form %}
      <div class="form-group">
	  {{ field.errors }}
	  {{ field.label_tag }} {{ field }}
	  {% if field.help_text %}
	  <small class="form-text text-muted">{{ field.help_text|safe }}</small>
	  {% endif %}
      </div>
  {% endfor %}

  <button type="submit" class="btn btn-dark">Search</button>
  </form>

{% endblock %}
