{% extends "site_base.html" %}
{% load static %}

{% block content %}
{% if id %}
<script>
var sub_id = {{ id }};
</script>
{% endif %}
    <div id="sub-info"></div>
    <a id="align-link" class="btn btn-dark"  href="{% url 'pairsubs:subpair_align' 0 %}">Align</a>

    <!-- <div class="row" style="position: absolute; bottom: 0px"> -->
    <div class="row" id="text-row">
      <div class="col-sm-6 " id="question" ></div>
      <div class="col-sm-6 " id="answer" ></div>
    </div>

    <div class="row">
       <div class="col-sm-12 text-center" id="result-row" >
         <button type="button" class="btn btn-dark" id="answer-button">Show</button>
       </div>
    </div>


{% endblock %}

{% block javascript %}
<script src="{% static "pairsubs/app.js" %}"></script>
{% endblock %}




