{% extends "site_base.html" %}
{% load static %}

{% block content %}
{% if id %}
<script>
var sub_id = {{ id }};
</script>
{% endif %}
<div class="container main-container">
    <div class="row subs-title">
      <div class="col-sm-11">
        <p class="lead" id="sub-info"></p>
      </div>
      <div class="col-sm-1">
        <a id="align-link" class="btn btn-outline-secondary" href="{% url 'pairsubs:subpair_align' 0 %}">Align</a>
      </div>
    </div>
    <hr>

    <div class="row" id="text-row">
	<div class="col content">
          <div class="d-flex">
            <div class="subs-text" id="question"></div>
            <div class="subs-text" id="answer"></div>
          </div>
      </div>
    </div>

</div>


<footer class="footer">
      <div class="container">
         <button type="button" class="btn btn-dark" id="answer-button">Show</button>
      </div>
    </footer>
{% endblock %}

{% block javascript %}
<script src="{% static "pairsubs/app.js" %}"></script>
{% endblock %}




