{% extends "site_base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
 <div id="loader"></div>

<div class="status-info" style="white-space: pre-line;" ></div>
<a id="learn-link" class="btn btn-dark"  href="{% url 'pairsubs:subpair_show' %}?id=">Learn It</a>
<a id="search-link" class="btn btn-dark"  href="{% url 'pairsubs:opensubtitles_search' %}">Search</a>

{% endblock %}

{% block javascript %}
  <script>
    var task_id = '{{ status }}';
  </script>
<script src="{% static "pairsubs/check_task.js" %}"></script>
{% endblock %}





