{% extends "site_base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <div id="loader"></div>

<div class="status-info" style="white-space: pre-line;" ></div>
<a id="learn-link" class="btn btn-dark"  href="{% url 'pairsubs:subpair_show' %}?id=">Show</a>
<a id="search-link" class="btn btn-dark"  href="{% url 'pairsubs:opensubtitles_search' %}">Search</a>
      </div>
      </div>
      </div>

{% endblock %}

{% block javascript %}
  <script>
    var task_id = '{{ status }}';
  </script>
<script src="{% static "pairsubs/check_task.js" %}"></script>
{% endblock %}





