<head>
<style>
#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

</style>
</head>

{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'pairsubs:home' %}">PairSubs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pairsubs:subpair_show' %}">Learn !</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pairsubs:subpair-list' %}">List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pairsubs:opensubtitles_search' %}">Search</a>
          </li>
     </div>
</nav>

{% block bootstrap4_title %}{% block title %}{% endblock %}{% endblock %}


<div class="container">
{% block content %}{% endblock %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% block javascript %} {% endblock %}
</body>

